*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* img {
  min-width: 100%;
  max-height: 100%;
} */

ul,
li {
  font: inherit;
}

:root {
  --red: hsl(4, 100%, 67%);
  --blue800: hsl(234, 29%, 20%);
  --blue700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --default-font-size: 16px;
  --default-font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--blue700);
  display: grid;
  place-content: center;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
  border: 1px solid red;
  padding: 1rem;
  height: 100%;
}
/* This is success! */
/* ------------------------------------------- */
.success-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  justify-self: center;

  gap: 1.75rem;

  width: 50%;
  height: 100%;

  padding: 2.5rem 3.7rem;
  border-radius: 2rem;

  flex-shrink: 1;
  flex-wrap: nowrap;
}

.success-container > * {
  flex: 1;
}

/* update with JS */
.success-container span {
  font-weight: 700;
  /* change the content to the user email */
}

.success-container object {
  width: 50px;
}

.success-container h2 {
  flex: 1;
  font-size: clamp(1rem, 0.1rem + 5vw, 3rem);
  color: var(--blue800);
  line-height: 1;
}

.success-container p {
  font-size: 0.8rem;
  line-height: 1.7;
}

.success-container button {
  min-width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--blue800);
  color: var(--white);
  font-size: 0.8rem;
  /* border: 1px solid var(--blue800); */
  border-radius: 0.3rem;
}

.success-container button:hover {
  background-image: linear-gradient(
    to right,
    hsl(25, 100%, 67%) 0%,
    hsl(25, 100%, 67%) 30%,
    hsl(4, 100%, 67%) 80%,
    hsl(4, 100%, 67%) 90%
  );

  filter: drop-shadow(0px 15px 24px hsla(4, 100%, 67%, 0.666));
}

/* ------------------------------------------- */
.card-container {
  justify-self: center;
  align-self: center;
  /* height: max(600px, min-content); */

  height: 87%;
  width: min(600px, 90%);

  background-color: var(--white);
  display: flex;
  gap: 1rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
}

.card-container > * {
  flex-shrink: 1;
  flex-grow: 1;
}
/* card-right */
.card-right {
  flex-basis: auto;
}

.card-right picture {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}

.card-right picture img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* card-left */
.card-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  font-size: 1rem;

  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-left-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;
  gap: clamp(0.5rem, 0.1rem + 1vw, 1rem);

  flex: 1;
}

.card-left h1 {
  font-size: clamp(1.4rem, 0.5rem + 2.5vw, 2rem);
  color: var(--blue700);
}

.card-left p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}
.card-left ul {
  list-style-type: none;
  width: 100%;
  margin-bottom: 8px;
}
.card-left ul li {
  font-size: 0.7rem;
  padding-bottom: 0.7rem;
  justify-content: left;
}

.card-left li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* .card-left li > * {
  flex: 1;
} */
.card-left li::before {
  flex-shrink: 0;
  margin: 0.1rem;
  content: "";
  display: block;
  background-image: url(/assets/images/icon-list.svg);
  width: 15px;
  height: 15px;
  /* Fixed - please remember this */
  background-size: contain;
  background-repeat: no-repeat;
}

.card-left form {
  min-width: 100%;
}

.card-left form.error input {
  border: 2px solid hsl(0, 100%, 60%);
}

.card-left label {
  font-size: 0.5rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.card-left input {
  box-sizing: border-box;
  min-width: 100%;
  padding: 0.8rem 0;
  text-indent: 10px;
  border: 1px solid var(--grey);
  border-radius: 0.3rem;
  font-size: 0.65rem;
}

.card-left input:hover {
  outline: none;
}

.card-left button {
  display: block;
  min-width: 100%;
  padding: 0.8rem;
  border: none;
  background-color: var(--blue800);
  color: var(--white);
  font-size: 0.65rem;
  /* border: 1px solid var(--blue800); */
  border-radius: 0.3rem;
}

.card-left button:hover {
  background-image: linear-gradient(
    to right,
    hsl(25, 100%, 67%) 0%,
    hsl(25, 100%, 67%) 30%,
    hsl(4, 100%, 67%) 80%,
    hsl(4, 100%, 67%) 90%
  );

  filter: drop-shadow(0px 15px 24px hsla(4, 100%, 67%, 0.666));
  /* This, for some reason, caused more problems than it's worth! */
  /* border: 1px solid transparent; */
}

/* .card-left button {
  border-image: linear-gradient(
    to right,
    hsla(4, 100%, 67%, 0.689),
    hsl(25, 100%, 67%)
  );
} */

/* utility */

.no-display {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

@media (width <= 375px) {
  /* Need to move image to the first slot */
  body {
    display: flex;

    background-color: var(--blue700);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    border: none;
    padding: 0;
    height: 100%;
  }

  .card-container {
    /* justify-self: center;
    align-self: center; */
    height: 87%;
    width: min(600px, 90%);
    background-color: var(--white);
    display: flex;
    gap: 1rem;

    padding: 0.8rem;
    border-radius: 0.8rem;
  }

  .card-container {
    display: grid;
    justify-self: stretch;
    align-self: stretch;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    flex-basis: 100%;
    background-color: var(--white);

    gap: 0;

    /* padding: 0.8rem; */
    border-radius: 0;
    padding: 0;
  }

  /* card left */
  .card-container .card-left {
    order: 1;
    padding: 0 2rem;
  }

  .card-left-info {
    align-items: start;
    padding: 0;
    margin: 0;
  }

  .card-left h1 {
    font-size: 2.2rem;
    color: var(--blue700);
  }

  .card-left p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
  .card-left ul {
    list-style-type: none;
    width: 100%;
    margin-bottom: 0;
  }
  .card-left ul li {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
    justify-content: left;
  }

  .card-left li {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 0.8rem;
  }

  /* .card-left li > * {
  flex: 1;
} */
  .card-left li::before {
    flex-shrink: 0;
    margin: 0.1rem;
    content: "";
    display: block;
    background-image: url(/assets/images/icon-list.svg);
    width: 20px;
    height: 20px;
    /* Fixed - please remember this */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-left form {
    min-width: 100%;
  }

  .card-left form.error input {
    border: 2px solid hsl(0, 100%, 60%);
  }

  .card-left label {
    font-size: 0.7rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5rem;
  }

  .card-left input {
    box-sizing: border-box;
    min-width: 100%;
    padding: 1.2rem 0;
    text-indent: 10px;
    border: 1px solid var(--grey);
    border-radius: 0.3rem;
    font-size: 0.65rem;
  }

  .card-left input:hover {
    outline: none;
  }

  .card-left button {
    display: inline-block;
    min-width: 100%;
    padding: 1.2rem;
    border: none;
    background-color: var(--blue800);
    color: var(--white);
    font-size: 0.65rem;
    /* border: 1px solid var(--blue800); */
    border-radius: 0.3rem;
  }

  .card-left button:hover {
    background-image: linear-gradient(
      to right,
      hsl(25, 100%, 67%) 0%,
      hsl(25, 100%, 67%) 30%,
      hsl(4, 100%, 67%) 80%,
      hsl(4, 100%, 67%) 90%
    );

    filter: drop-shadow(0px 15px 24px hsla(4, 100%, 67%, 0.666));
  }

  .card-right picture {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    flex-basis: 100%;
    border-radius: 0;
  }

  .card-right picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    overflow: hidden;
  }

  /* success container */
  .success-container {
    background-color: var(--white);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 1.75rem;

    width: 100%;
    height: 100%;

    padding: 1rem;
    border-radius: 0;
  }

  /* update with JS */
  .success-container span {
    font-weight: 700;
    /* change the content to the user email */
  }

  .success-container object {
    width: 70px;
  }

  .success-container h2 {
    font-size: clamp(1rem, 1rem + 4vw, 2.8rem);
    color: var(--blue800);
    line-height: 1;
  }

  .success-container p {
    font-size: 0.8rem;
    line-height: 1.7;
  }

  .success-container button {
    /* margin-top: 10rem; */
    min-width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--blue800);
    color: var(--white);
    font-size: 0.9rem;
    /* border: 1px solid var(--blue800); */
    border-radius: 0.3rem;
  }

  .success-container button:hover {
    background-image: linear-gradient(
      to right,
      hsl(25, 100%, 67%) 0%,
      hsl(25, 100%, 67%) 30%,
      hsl(4, 100%, 67%) 80%,
      hsl(4, 100%, 67%) 90%
    );

    filter: drop-shadow(0px 15px 24px hsla(4, 100%, 67%, 0.666));
  }
}

@media (width <= 401px) {
  body {
    padding: 0;
  }
  .card-container {
    width: 450px !important;
  }

  .card-container > * {
    flex-shrink: 0;
  }
}
